/* Homework-2 Stylesheet */
html{
    height: 100%;
}

body{
    font-size: 22px;
    height: 100%;
	padding: 1px;
	margin: 1%;
}

main {
    height: 100%
}

header {
    background-color: #B2B2B2;
    background-image: url(../images/flywheel.jpg);
    background-size: cover;
    padding: 1px;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

nav a{
	display: inline-block;
    background-color: rgba(255,255,255,0.2);
    color: #000000;
    margin: 4%;
    width: 15%;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
}

.active {
    background-color: #FFFFFF;
}

.left {
    background-color: #777613;
    display: inline-block;
    float: left;
    height: 100%;
    margin: 0 auto;
    width: 20%
}

.right {
    display: inline-block;
    padding: 1%;
    width: 75%;
}

img {
    display: block;
    border: 1px solid #000000;
    margin: 32px auto;
    width: 80%;
}